$layout-color: #ddd;
$input-background: white;
$btn-blue: #96b9e4;
$btn-yellow: yellow;
$btn-red: red;
$border-color: grey;
$text-color: grey;
$error-color: #d9534f;
$vote-button-colors: (
  color-1: #FF6384,
  color-2: #FFCE56,
  color-3: #36A2EB,
  color-4: #4BC0C0
);